<table class="table table-striped">
    <tr>
    	<th>Title</th>
    	<th>Description</th>
      <th>Show</th>
    	<th>Edit</th>
    	<th>Delete</th>
      <th>Comment</th>

    </tr>

 <% @blogs.each do |blog| %>
<tr>
  <td><%= link_to blog.title, blog_path(blog) %></td>
   <td><%= blog.body %></td>
   <td><%= link_to 'show', blog_path(blog) %></td>
   <td><%= link_to 'edit', edit_blog_path(blog) %></td>
   <td><%= link_to 'delete', blog_path(blog), :method=>:delete, data: { clear: 'Are you sure?'} %></td>
   <td><%= link_to 'comment', new_blog_comment_path(blog) %></td>

<% end %>
<br>
</table>
<%= link_to 'New Post', new_blog_path, :class => "btn btn-primary" %>